/* All The Primary Stuff Section*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: mintcream;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 100vh;
  overflow: scroll;
  background-color: #e5fafc;
  border: 4px solid #a9ffd4;
}

.header {
  margin: none;
  background-color: #a9ffd4;
  width: 100%;
}

.headerPtag {
  font-size: 28px;
  font-weight: bolder;
  color: #ea8a5d;
  margin-top: 0;
  margin-bottom: 2px;
  text-align: center;
}
/* End All The Primary Stuff Section*/

/*All the Map related stuff section*/
.mapbox {
  display: flex;
  flex-direction: column-reverse;
  height: 280px;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 4px solid #ea8a5d;
  border-radius: 4px;
  align-self: center;
}

#map {
  height: 280px;
  width: 280px;
  padding: 0px;
  background-color: gray;
  position: relative;
  top:0; bottom:0;
}
/* End all the Map related stuff section*/

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.firstDisplay {
  display: flex;
  flex-direction: column;
}

.loginLink {
  margin-top: 10px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allFavs {
  width: 100%;
}

.favs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  overflow: scroll;
}

.favBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 100%;
  border-top: 4px solid #ea8a5d;
  padding-top: 12px;
}

.fTruckPic {
  height: 100px;
  width: 100px;
}

.fTruckPic-details {
  height: 200px;
}

.favTruckDetails {
  height: 100%;
  width: 100%;
  background-color: #a9ffd4;
}

.link {
  text-align: center;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  border-top: 6px solid #e5fafc;
  padding-top: 6px;
}

a {
  text-decoration: none;
  width: 100%;
  font-size: 22px;
}

input {
  font-size: 24px;
  margin-top: 10px;
}

.submit {
  background-color: white;
  border-radius: 4px;
  margin-top: 15px;
  width: 70px;
}

.goThere {
  background-color: red;
  border-radius: 100%;
  border-width: thick;
  outline: none;
  font-size: 28px;
  color: white;
  height: 70px;
  width: 70px;
  position: fixed;
  margin-left: 70%;
  margin-top: -30px;
  z-index: 1;
}

.goThere:active {
  background-color: darkred;
}

.mapGo {
  background-color: red;
  border-radius: 100%;
  border-width: thick;
  outline: none;
  font-size: 28px;
  color: white;
  height: 70px;
  width: 70px;
  float: left;
  position: fixed;
  z-index: 1;
}

.topFive {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  overflow: scroll;
}

.reviewBlock {
  background-color: #e5fafc;
  border-top: 4px solid #ea8a5d;
  padding-top: 12px;
  padding-left: 4px;
  margin-top: 20px;
}

.yelpUserPic {
  float: left;
  border: lightgray solid 10px;
  border-radius: 8px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}
